LOCALHOST_ENDPOINT=http://192.168.1.196:8880/  #Insert koboldcpp backend link, with llama3 model loaded here!
XTTS_ENDPOINT=http://192.168.1.196:8020/tts_to_audio/  #Insert XTTS-API-Server Link here! 
